.carousel {
  &:hover {
    .carousel-control {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s linear 0s, opacity 300ms;
      border: 0px solid transparent;
    }
  }

  .carousel-control {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
    position: absolute;
    top: 45%; /* pushes the icon in the middle of the height */
    z-index: 5;
    display: inline-block;

    &.left, &.right {
      background-image: none;
    }
  }
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  height: 600px;
  width: auto;
  object-fit: cover;
}

.carousel-indicators {
  display: none;
}
