#success_message {
  display: none;
}

.well {
  background-color: #eee;
  border: 0px solid #eee;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
}

.control-label {
  color: #444;
}

.btn {
  width: 50%;
}

.btn-warning {
  background-color: #bbb;
  border: 1px solid #aaa;
}

.btn-warning:hover, .btn-warning:focus,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus  {
  background-color: #999 !important;
  border: 1px solid #888;
}
