
.modal-content img, .modal-body img {
      width: 100%;
      height: auto;
}

.modal-content {
  background-color: rgba(255,255,255,.9);
  border-radius: 0px;
}

.modal-header {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 14pt;
  font-family: JosefinSemiBold, Verdana, sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

.modal-header .close {
  color: #fff;
}

.modal-footer .btn {
  width: 20%;
}

.modal-footer .btn-default {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 10pt;
  font-family: JosefinSemiBold, Verdana, sans-serif;
  letter-spacing: 2px;
  text-align: center;
  border: 0px #fff solid;
  border-radius: 0px;
  padding: 7px 10px;
}

.modal-footer .btn-default:hover {
  border: 0px #fff solid;
  background-color: #111;
}

.modal-footer .btn-default.active.focus, .modal-footer .btn-default.active:focus, .modal-footer .btn-default.active:hover, .modal-footer .btn-default:active.focus, .modal-footer .btn-default:active:focus, .modal-footer .btn-default:active:hover {
  background-color: #333;
  color: #fff;
}
