#aboutus {
  .row {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;

    @media (min-width: 1024px) and (max-width: 1200px) {
      .row {
        width: 95%;
      }
    }

    @include desktop-and-under {
      padding-bottom: 0;
      margin-bottom: 30px;

      .col-sm-6, .col-sm-6 {
        padding: 0;
      }
    }

    img {
      width: 150px;
      height: 150px;
      object-fit: cover; // in case the image doesn't fit the dimensions = no ugly resizing
      text-align: center;

      @include desktop-and-under {
        margin-top: 10px
      }
    }
  }
}

.about-info {
  height: 180px;
  background-color: #e1e1e1;
  padding: 15px;
  margin: 15px 0;

  .col-md-4 {
    padding: 0;
  }

  .col-md-8 {
    padding: 0;
  }

  .about-staff {
    height: 145px;
    overflow: hidden;

    @media (min-width: 1024px) and (max-width: 1200px) {
      padding-left: 30px;
    }

    @include desktop-and-under {
      height: 205px;
    }
  }

  @include desktop-and-under {
    height: 425px;

    .col-sm-6, .col-xs-12 {
      text-align: center;
      padding-bottom: 15px;
    }
  }

  p {
    font: 70%/162% $mainFont;

    @include desktop-and-under {
      width: 75%;
      margin: 0 auto;
    }
  }

  h2 {
    line-height: 5%;
    margin-top: 19px;

    @include desktop-and-under {
      text-align: center;
    }
  }

  h3 {
    color: $red;
    font: 12pt/35% $mainFont;
    padding-bottom: 5px;
  }
}

// fontawesome for about
.about-fa {
  float: left;
  padding-right: 16px;
  clear: both;

  @include desktop-and-under {
    float: none;
    text-align: center;
    padding: 0;
  }
}
