#logo {
  padding-top: 20px;
}

// transition mixins don't apply here

#foot {
  background-color: #FFF;
  padding: 20px 70px;
  border-top: 1px #AAA solid;
  font-family: $titleFont;
  font-size: 90%;
  position: relative;
  float: left;
  left: 0.00%;
  width: 100.00%;

  p {
    font-size: 85%;
    color: $dark-gray;
    letter-spacing: 1px;
  }

  a {
    font-family: $mainFont;
    font-size: 90%;
    color: $black;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    margin: 0 15px 5px 0;
    border-bottom: 0px transparent;

    &:hover {
      @include transition(color .5s ease-out);
      color: $red;
      text-decoration: none;

      &:before {
        transition: width .5s ease;
        width: 100%;
        background: $black;
      }

      &:after {
        transition: all 0s ease;
        width: 100%;
        background: transparent;
      }
    }

    &:before {
      left: 0;
      transition: width 0s ease, background .5s ease;
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 0;
      right: 0;
      background: $black;
      transition: width .5s ease;
    }
  }
}
