#logo {
  padding-top: 20px;
}

// transition mixins don't apply here

#foot {
  background-color: #FFF;
  padding: 20px 70px 40px 70px;
  text-transform: uppercase;
  border-top: 1px #AAA solid;
  font-family: $mainFont;
  font-size: 90%;
  position: relative;
  float: left;
  left: 0.00%;
  width: 100.00%;
  margin-top: 20px;


  h4 { // footer header
    font-size: 14pt $titleFont;
    border-bottom: 1px solid $black;
    text-transform: uppercase;
    width: 85%;
    padding-bottom: 3px;
    letter-spacing: 1px;
  }

  a {
    font-family: $mainFont;
    font-size:90%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $black;
    display: table;
    position: relative;
    padding-bottom: 3px;

    &:hover {
      @include transition(color .5s ease-out);
      color: $red;
      text-decoration: none;

      &:before {
        transition: width .5s ease;
        width: 100%;
        background: $black;
      }

      &:after {
        transition: all 0s ease;
        width: 100%;
        background: transparent;
      }
    }

    &:before {
      @include css-hover {
        left: 0;
        transition: width 0s ease, background .5s ease;
      }
    }

    &:after {
      @include css-hover {
        right: 0;
        background: $black;
        transition: width .5s ease;
      }
    }
  }
}
