@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);


/* DEFAULT COLORS / FONTS
============================================= */

$black: #000;
$light-gray:  #eee;
$dark-gray: #888;
$red: #c44741;
$white: #fff;

$link-hover: rgba(77,28,25,.9); // same as #c44741 but lower opacity

$mainColor: $black;
$secondColor: $white;
$thirdColor: $light-gray;

$mainFont: Helvetica, Geneva, sans-serif;
$titleFont: 'Roboto', Verdana, sans-serif;



/* PLACEHOLDERS
============================================= */

%script {
  font-family: Georgia;
  font-style: italic;
  font-size: 13pt;
}



/* REGULAR MIXINS
============================================= */

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


@mixin header {
  color: #fff;
  text-transform: uppercase;
  font: 14pt $titleFont;
  letter-spacing: 2px;
  @content;
}



/* MIXINS FOR RESPONSIVENESS
============================================= */

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-and-under {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}
