@charset "UTF-8";

@font-face {
  font-family: JosefinBold;
  src: url("assets/fonts/JosefinSans-Bold.ttf");
}

@font-face {
  font-family: JosefinSemiBold;
  src: url("assets/fonts/JosefinSans-SemiBold.ttf");
}


/* DEFAULT COLORS / FONTS
============================================= */

$black: #000;
$light-gray:  #eee;
$red: #c44741;
$white: #fff;

$link-hover: $red;

$mainColor: $black;
$secondColor: $white;
$thirdColor: $light-gray;

$mainFont: Verdana, Geneva, sans-serif;
$titleFont: JosefinSemiBold, Verdana, sans-serif;



/* PLACEHOLDERS
============================================= */

%script {
  font-family: Georgia;
  font-style: italic;
  font-size: 13pt;
}



/* REGULAR MIXINS
============================================= */

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


@mixin header {
  color: #fff;
  text-transform: uppercase;
  font: 14pt $titleFont;
  letter-spacing: 2px;
  @content;
}

@mixin css-hover {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  @content;
}



/* MIXINS FOR RESPONSIVENESS
============================================= */

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin phone-and-tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-and-under {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}
